{% extends "layout/index.html.twig" %}
{% block content %}
	<div class="row justify-content-center align-items-center m-5">
		<h2>Page Not Found</h2>
		<p>That page is not on our website.</p>
		<p>
			Please try the url below.<br>
			<ul>
				<li><a href="./login">Login Page</a></li>
				<li><a href="./home">Home Page</a></li>
			</ul>
		</p>
	</div>
{% endblock %}
