{% extends "layout/index.html.twig" %}
{% block content %}
	<div class="row justify-content-center align-items-center m-5">
		<h2>Oops!!</h2>
		<p>something went wrong</p>
        <p>there seems to some issue with the website, if you are seeing this page please contact our support at support@mycontacts.com</p>
	</div>
{% endblock %}
