{% extends "layout/base.html.twig" %}
{% block pagecontent %}
<header>
	{% block header %}
	{{ include('layout/header.html.twig') }}
	{% endblock %}
</header>
<main class="flex-shrink-0">
	<div class="container">
		{% block content %}
			{{content}}
		{% endblock %}
	</div>
</main>
<footer class="footer mt-auto py-3 bg-body-tertiary">
	{% block footer %}
		{{ include('layout/footer.html.twig') }}
	{% endblock %}
</footer>
{% endblock %}