<div class="row justify-content-center align-items-center page-content">
	<div class="col-md-6 page-left"></div>
	<div class="col-md-6 d-flex align-items-center form-container">
		<div class="card p-4 shadow-2-strong form-card">
			<div class="card-body">
				<form id="frmChangePass" name="frmChangePass" method="post" action="/changepassword">
					<div class="divider align-items-center my-4">
						<h3>Change Password</h3>
						<div>
							<input type="hidden" name="inputform" id="inputform" value="changepassword"/>
							<div id="frmChangePassFeedback" class=""></div>
						</div>
					</div>
					<div class="form-outline mb-4">
						<label class="form-label" for="inputepass">Existing Password</label>
						<input type="password" name="epass" id="inputepass" class="form-control form-control-lg" placeholder="existing password" maxlength="20"/>
						<div id="inputepassFeedback" class=""></div>
					</div>
					<div class="form-outline mb-4">
						<label class="form-label" for="inputpass">New Password</label>
						<input type="password" name="pass" id="inputpass" class="form-control form-control-lg" placeholder="new password" maxlength="20"/>
						<div id="inputpassFeedback" class=""></div>
					</div>
					<div class="form-outline mb-4">
						<label class="form-label" for="inputcpass">Confirm Password</label>
						<input type="password" name="cpass" id="inputcpass" class="form-control form-control-lg" placeholder="confirm password" maxlength="20"/>
						<div id="inputcpassFeedback" class=""></div>
					</div>
					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="reset" class="btn btn-secondary">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" language="javascript">
	$("#frmChangePass").on("submit", function(event){
	   // Prevent the default form submission (page refresh)
	   event.preventDefault();
	   $('#inputepass').removeClass('is-invalid');
	   $('#inputepassFeedback').removeClass('invalid-feedback').text("");       
	   $('#inputpass').removeClass('is-invalid');
	   $('#inputpassFeedback').removeClass('invalid-feedback').text("");       
	   $('#inputcpass').removeClass('is-invalid');
	   $('#inputcpassFeedback').removeClass('invalid-feedback').text(""); 
	   $('#inputform').removeClass('is-invalid'); 
	   $('#frmChangePassFeedback').removeClass('invalid-feedback').text("");     
	
	    const epass  = $('#inputepass').val().trim();
	    const pass  = $('#inputpass').val().trim();
	    const cpass  = $('#inputcpass').val().trim();

	    // validate form data
	    if(epass.length < 6 || epass.length > 20){
	        $('#inputepass').addClass('is-invalid');
	        $('#inputepassFeedback').addClass('invalid-feedback').text('Existing password must be at least 6 characters long and maximum 20 characters long');
	        return false;
	    }
	    if(pass.length < 6 || pass.length > 20){
	        $('#inputpass').addClass('is-invalid');
	        $('#inputpassFeedback').addClass('invalid-feedback').text('New password must be at least 6 characters long and maximum 20 characters long');
	        return false;
	    }
	    if(pass !== cpass){
	        $('#inputcpass').addClass('is-invalid');    
	        $('#inputcpassFeedback').addClass('invalid-feedback').text('Confirm password must match new password');
	        return false;
	    }
	
	    const formData = {
	        epass: epass,
	        pass: pass,        
	        cpass: cpass
	    }

	    $.ajax({
	        type: 'POST',
	        url: './changepassword', // Replace with your server-side script
	        data: formData,
	        dataType: 'json', // Expect JSON response from the server
	        success: function(response) {
	           if(response.code && response.code == 200){
					const alert = $.alert({
        				title: 'Password Changed',
        				content: 'Your session is terminated. Please login again...',
                    });
					alert.open(); 
					// terminate session and redirect to login page
					window.setTimeout(function(){
						alert.close();
						$('#appLogout').trigger('click');
					}, 3000);
	            }else{
	                if(response.data && response.data.epass &&  response.data.epass != null){
	                    $('#inputepass').addClass('is-invalid');
	                    $('#inputepassFeedback').addClass('invalid-feedback').text(response.data.epass);
	                }
	                if(response.data && response.data.password &&  response.data.password != null){
	                    $('#inputpass').addClass('is-invalid');
	                    $('#inputpassFeedback').addClass('invalid-feedback').text(response.data.password);
	                }
	                if(response.data && response.data.confirm &&  response.data.confirm != null){
	                    $('#inputcpass').addClass('is-invalid');
	                    $('#inputcpassFeedback').addClass('invalid-feedback').text(response.data.confirm);
	                }
					if(response.data && response.data.form &&  response.data.form != null){
						$('#inputform').addClass('is-invalid'); 
	                    $('#frmChangePassFeedback').addClass('invalid-feedback').text(response.data.form);
	                }
	            }
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            // Handle errors
				$('#inputform').addClass('is-invalid'); 
	            $('#frmChangePassFeedback').addClass('invalid-feedback').text('unexpected error has occured');
	        }
	    });
    });
</script>